.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #1a0142;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content button {
  font-family: 'Orbitron', sans-serif;
  font-size: 12px;
  padding: 8px;
  border: 2px solid;
  background: transparent;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border-radius: 5px;
  border-color: #a64dff;
  box-shadow:
    0 0 4px #a64dff,
    0 0 8px #a64dff;
}
