.content {
  width: 100%;
  display: flex;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 200px;
  max-width: 1200px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
}

.headerImage {
  height: auto;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .buttonGroup {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .headerImage {
    width: 80%;
  }
}
