.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
}

.headerImage {
  height: auto;
  margin-left: 100px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .buttonGroup {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .headerImage {
    width: 60%;
  }
  .headerImage {
    height: auto;
    margin-left: 0;
  }
}
